@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<h3>Взять домой</h3>
<p>
    Если вы хотите взять собаку или кошку,
    не ищите питомник, в котором можно купить щенка или котенка - 
    просто свяжитесь с нами, и вы обязательно найдете себе самого лучшего друга. 
    Во всем мире это уже стало доброй традицией - человек, который решил завести питомца,
    обращается в приют, чтобы подарить заботу и любовь тому, кто уже появился на свет,
    но ему почему-то досталась нелегкая судьба. 
    Мы поможем вам выбрать животное с учетом ваших пожеланий и предпочтений, 
    с радостью познакомим со всеми нашими собаками и кошками. 
    Все наши питомцы привиты и стерилизованы..
</p>
