@using Microsoft.AspNetCore.Components.Authorization;

<CascadingAuthenticationState>
<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="/Animal">Животные</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Medicine/Index">Медикаменты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Calendar/Index">Календарь</a>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="/Animal/GuestIndex">Животные</a>
            </li>      
        </ul>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>



@code {

}
