@using Core;
@using Core.Services;
@model Core.AnimalAppointment

@{
    ViewData["Title"] = "Edit";
    AppointmentService appointmentService 
                        = new AppointmentService();
    AnimalService animalService = new AnimalService();
}

<h2>Редактировать назначение</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label">Животное</label>
                <select asp-for="AnimalId" class="form-control" >
                    @foreach (var animal in animalService.GetAnimals())
                    {
                        <option value=@animal.Id>@animal.Name</option>
                    }
                </select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label">Тип назначения</label>
                <select asp-for="TypeId" class="form-control">
                    @foreach (var type in appointmentService.GetAppointmentTypes())
                    {
                        <option value=@type.Id>@type.Name</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
