@using AnimalShelterWeb.Views.Shared.Calendar;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calendar";
}
<h1>Календарь</h1>

<input type="date" 
<component type="typeof(CalendarComponent)" render-mode="ServerPrerendered"/>

@{
}
