@model IEnumerable<Core.Animal>
@using BarcodeGenerator;

@{
    ViewData["Title"] = "Animals";
}



<div class='card-container'>

    @foreach (var item in Model) {
        <div class='card card-body'>
            @Html.Raw("<img height='200' width=200 class=mx-auto src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(Generator.GenereteQR($"{Context.Request.Scheme}://{Context.Request.Host}/Animal/Info?animalId={item.Id}", $"wwwroot/Images/QR_{item.Id}.png")) + "\" />");
                <div class="text-center">
                    <h3>
                        @item.Name
                    </h3>
                    @Html.ActionLink("Подробнее", "Info", new { animalId = item.Id })
                </div>
        </div>
    }
</div>