<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
    <add name="AnimalShelterEntities" connectionString="metadata=res://*/ShelterModel.csdl|res://*/ShelterModel.ssdl|res://*/ShelterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-stud1\sql_001;initial catalog=AnimalShelter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>