@model List<Core.Medicine>

@{
    ViewData["Title"] = "Medicines";
}

<h1>Медикаменты</h1>

<p>
    <a asp-action="Create">
        <button class="btn-info">
            Добавить медикамент
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Count; i++) {
        <tr>
            <td>
                @(i+1)
            </td>
            <td>
                @Model[i].Name
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
